<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="Signup.css">
</head>
<body>
    <div class="signup-container">
        <form action="register_proc.php" method ="post"   class="signup-form">
            <h4>Sign Up</h4>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" placeholder="First name" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" placeholder="Last name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="Email"><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="password" placeholder="Password"><br>
            <label for="Cpwd">Confirm Password:</label><br>
            <input type="password" id="Cpwd" name="confirm_password" placeholder="Confirm Password"><br><br>
            <input type="submit" value="Create account">
        </form>
    </div>
</body>
</html>


<!-- /*Reference :W3 schools -->